.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* border: 2px solid black; */
  }

  /* HEADER */

  .header-wrapper, .main-wrapper {
    display: flex;
    flex-direction: row;
    width: 950px;
    min-height: 100px;
  }

  .header-news {
    display: flex;
    flex-direction: column;
    width: 700px;
  }

.header-links {
    display: flex;
    flex-direction: row;
    justify-content:space-around
}

.links {
  min-width: 120px;
  min-height: 17px;
}

.box-news {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  
}

.article {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20px;
}

.image {
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

.news-title {
  display: block;
  margin-top: 0;
  font-size: 13px;
  color: #4c4b4b;
}

.header-currency {
  display: flex;
  flex-direction: row;
}

.currency-box {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.currency-title {
  margin-right: 5px;
  font-weight:bold;
  font-size: 14px;
}

.currency-curs {
  font-size: 14px;
}

.header-footer {
  display: flex;
  flex-direction: column;
  min-height: 100px;
}

.img-item {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  border-radius: 50%;
}

.text {
  font-size: 14px;
  color: #3e3d3d;
}

/* BODY */
.main-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main-title {
  display: flex;
  flex-direction: row;
  width: 40px;
  margin-top: 10px;
}

.writing-field {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  border: 4px solid rgb(255, 220, 19);
  margin-top: 5px;
}

.img-find {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.btn-find {
  background-color: rgb(255, 220, 19);
  color: rgb(26, 9, 9);
  border: none;
}

.item-style{
  color: #a29b9b;
}

.main-img {
  width: 950px;
  height: 50px;
  background-color: cadetblue;
  text-align: center;
  margin-top: 4px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
  min-height: 50px;
  margin-top: 0;
}

.wrapper-main-item {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  min-height: 80px;
}

.weather-box {
  display: flex;
  flex-direction: row;
}

.weather-img {
  width: 55px;
  height: 55px;
}

.weather-temp {
  font-size: 24px;
  margin-top: 10px;
}

.weather-am-pm{
  display: flex;
  flex-direction: column;
}
.weather-morning, .weather-by-day, .weather-by-evening, .weather-night {
  font-size: 12px;
  margin-left: 8px;
}

.footer-items-box {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-height: 160px;
  margin-top: 10px;
}

.footer-item {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.main-footer-title {
  font-weight: bold;
  margin-top: 10px;
}

.content {
  margin-top: 10px;
}

.timetable {
  color: #4c4b4b;
  font-size: 14px;
}

.item-timetables {
  min-height: 60px;
  margin-top: 30px;
}

.timetable-news {
  display: flex;
  flex-direction: column;
}

.timetable-img {
  width: 50px;
  height: 22px;
  margin-left: 20px;
}

.timetable-box, .ether-item {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  height: 20px;
  margin-top: 5px;
}

.box-time, .ether-img, .ether-title {
  margin-right: 8px;
}

.box-title {
  margin-right: 12px;
}

.box-content, .ether-content {
  color: #a7a3a3;
}

.ether-box {
  display: flex;
  flex-direction: column;
}

.ether-item {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

/* .ether-box {
} */

/* .ether-img {
  width: 30px;
  height: 25px;
} */


