.wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid black;
  }

  /* HEADER */

  .header-wrapper, .main-wrapper {
    display: flex;
    flex-direction: row;
    width: 950px;
    min-height: 150px;
    border: 2px solid rgb(100, 8, 8)
  }

  .header-news {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
    border: 1px solid yellowgreen;
  }

.header-links {
    display: flex;
    flex-direction: row;
    justify-content:space-around
}

.links {
  text-align: center;
  min-width: 120px;
  height: 20px;
  border: 1px solid rgb(41, 3, 41);
}

.box-news {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.article {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25px;
  border: 1px solid green;
}

.image {
  width: 25px;
  height: 20px;
  margin-right: 5px;
}

.news-title {
  display: block;
  margin-top: 0;
  font-size: 14px;
}

.header-currency {
  display: flex;
  flex-direction: row;
}

.currency-box {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.currency-title {
  margin-right: 5px;
  font-weight:bold
}

.header-footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 175px;
}

.img-item {
  width: 80px;
  height: 80px;
  margin-top: 5px;
  border-radius: 50%;
}

.text {
  font-size: 14px;
}